.largeBoxSection {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.projectsSection {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.projectsSection > div > h1 {
    width: 100%;
    margin: 0;
}

@media (max-width: 640px) {
    .largeBoxSection {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .projectsSection > h1 {
        line-height: var(--font-size-7);   
    }
}